.tui-pagination {
    margin-top: 0px;
    padding-bottom: 12px;
}

.tui-pagination .tui-page-btn {
    width: 40px;
    height: 40px;
    padding: 13px 13px 11px; 

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;

    border: 1px solid white;
}

.tui-pagination .tui-is-selected, .tui-pagination strong {
    background-color: #FF6B08;
    border-color: #FF6B08;
    border-radius: 5px;
    cursor: pointer;
    

    &:hover, 
    &:focus {
        background-color: #FF6B08;
    }
}

.tui-pagination .tui-first-child.tui-is-selected {
    border-left: 1px solid #FF6B08;
}

.tui-pagination .tui-last-child.tui-is-selected {
    border-right: 1px solid #FF6B08;
}

.tui-pagination .tui-ico-ellip {
    margin-top: 11px;
}

