@import './utils/variables';
@import './utils/breakpoints';
@import './base/base';
@import './header';
@import './container';
@import './gallery';
@import './pagination';
@import './modal';
@import './footer';

.menu__icon {
  color: aqua;
  fill: black;
  border: 1 px solid red;
}
