@import './utils/variables';
@import './utils/breakpoints';
@import './base/base';
@import './components/header';
@import './components/container';
@import './components/gallery';
@import './components/pagination';
@import './components/modal';
@import './components/footer';

.menu__icon {
  color: aqua;
  fill: black;
  border: 1 px solid red;
}


@import './example';

@import './container';
@import './gallery';
@import './pagination';
@import './header';
@import './modal';
@import './footer';
@import './footer-team.scss';

