$white-color: #ffffff;
$footer-text-color: #545454;
$title-text-color: #000000;
$accent-color: #ff6b08;
$background-color: rgba(0, 0, 0, 0.8);
$background-modal-color: lightgrey;
$footer-bgd-color: #F7F7F7;

$primary-font-family: 'Roboto', sans-serif;
