<footer>
  <div class="container-footer">

    <div class="footer-lisense">
      <p>&copy; 2021 | All Rights Reserved |</p>
      <p> Made by profesionals |
        <!-- <span class="heart">
          <svg class="heart-icon">
            
            <use class="heart-icon-svg"href="./images/heart.svg#icon-heart" width = "20" height = "20"></use>
          </svg>
        </span> -->
      by <a href="https://goit.ua/" target="_blank">GoIT</a>
      <a href="#" footer-modal-open class="modal-students-text">Students</a>
      </p>
    </div>
  </div>
</footer>