<footer class="footer">
  
    <div class="footer-lisense">
      <p>&copy; 2021 | All Rights Reserved |</p>
      <p class="made">  Developed with   
        <div class="heart">
          <svg class="heart-icon">
            
            <use class="heart-icon-svg" href="./images/favorite-heart.svg#favorite-heart" width = "26" height = "26" ></use>
          </svg>
        </div>
        <span class="by">by</span>
        
         <a href="https://goit.ua/" class="goit">GoIT</a>
        <span footer-modal-open class="modal-students-text" >Students</span>
      </p>
    </div>
 
</footer>