<header class="page-header" id="the_body">

    <div class="container">
        <div class="main-nav">
            <a href="./index.html" lang="en" class="logo">
                <svg class="icon-film" width="24" height="24" aria-label="Главное меню">

                    <use class="icon-menu" href="./images/icon.svg#icon-film-1"></use>
                </svg> <span class="logo-text">Filmoteka</span></a>
            <div class="site-nav" data-menu id="menu-container">
                <a href="./index.html" lang="en"><button class="site-nav__btn home_btn current"
                        href="./index.html">Home</button></a>
                <button class="site-nav__btn library_btn">My library</button>

            </div>
        </div>
        <div class="input-container">
            <form class="form-field">
                <input class="input" type="text" name="searchQuery" placeholder="Поиск фильмов">
                
                <button class="svg-btn" type="submit"><svg class="icon-search" width="20" height="20" aria-label="Главное меню" type ="submit">
                    <use class="icon-menu" href="./images/icon.svg#icon-search-2"></use>
                </svg></button>
            </form>
        </div>
        <div class="nav-btn is-hidden">
            <button class="btn-controls active-btn" id="watched_btn">WATCHED</button>
            <button class="btn-controls" id="queue_btn">QUEUE</button>
        </div>
    </div>
</header>