<header class="page-header" id="the_body">

    <div class="container">
        <div class="toolbar">
            <!-- Разметка переключателя темы -->
            <div class="theme-switch">
              <svg class="theme-switch__icon" role="img" aria-label="Иконка солнца">
                <use href="./images/sprite.svg#sun"></use>
              </svg>
          
              <div class="theme-switch__control">
                <input
                  class="theme-switch__toggle"
                  type="checkbox"
                  name="theme"
                  id="theme-switch-toggle"
                  aria-label="Переключить между тёмной и светлой темой"
                />
                <label
                  aria-hidden="true"
                  class="theme-switch__track"
                  for="theme-switch-toggle"
                >
                </label>
                <div aria-hidden="true" class="theme-switch__marker"></div>
              </div>
          
              <svg class="theme-switch__icon" aria-label="Иконка луны">
                <use href="./images/sprite.svg#moon"></use>
              </svg>
            </div>
          </div>


        <div class="main-nav">
            <a href="./index.html" lang="en" class="logo">
                <svg class="icon-film" width="24" height="24" aria-label="Главное меню">

                    <use class="icon-menu" href="./images/icon.svg#icon-film-1"></use>
                </svg> <span class="logo-text btn-shine">Filmoteka</span></a>
            <div class="site-nav" data-menu id="menu-container">
              <button class="site-nav__btn home_btn current">Home</button>
                <button class="site-nav__btn library_btn">My library</button>

            </div>
        </div>
        
        <div class="input-container">
            <form class="form-field">
                <input class="input" type="text" name="searchQuery" placeholder="Search film...">
                
                <button class="svg-btn" type="submit"><svg class="icon-search" width="20" height="20" aria-label="Главное меню" type ="submit">
                    <use class="icon-menu" href="./images/icon.svg#icon-search-2"></use>
                </svg></button>
            </form>
        </div>

        <div class="nav-btn is-hidden">
            <button class="btn-controls active-btn" id="watched_btn">WATCHED</button>
            <button class="btn-controls" id="queue_btn">QUEUE</button>
        </div>
        
    </div>
</header>