<div class="backdrop is-hidden">
   <div class="team-modal">
     <button type="button" class="team-modal-close-button">
       <svg width="35" height="35">
          <use href="./images/symbol-defs.svg#icon-close_40px"></use>
       </svg>
     </button>
     <h2 class="team-title">5th element</h2>
     <ul class="team-card-list">
      <li class="team-card-list-item">

        <div class="card-set__card-thumb">
         
           <img 
             src="./images/fotosTeam/photo_2020-04-02_14-23-54.jpg"
             width="240px"
             
            
             alt="teammate photo"
             class="team-card-list-img"
         />
   
           <div class="card-set__hover-box">
   
           <!-- <span class="team-contact"> -->
             <a href="https://github.com/MarynaSkyba" target="_blank">
               <svg class="git">
                 <use href="./images/symbol-defs.svg#icon-github" width="50px"></use>
               </svg>
             </a>
             <a href="https://www.linkedin.com/in/maryna-skyba-b9625a8a" target="_blank">
               <svg class="linkedin">
                 <use href="./images/symbol-defs.svg#icon-linkedin" width="50px"></use>
               </svg>
             </a>
         <!-- </span> -->
           </div>
           
       </div>
       
         <div class="card-set__card-content">
           <h2 class="team-name">Maryna</h2>
             <p class="team-description">Team Lead</p>
         </div>



         <li class="team-card-list-item">

          <div class="card-set__card-thumb">
           
             <img
               src="./images/fotosTeam/photo_2021-08-12_09-08-31.jpg"
               width="240px"
              
               alt="teammate photo"
               class="team-card-list-img"
           />
     
             <div class="card-set__hover-box">
     
             <span class="team-contact">
               <a href="https://github.com/Anastasiia88Z" target="_blank">
                 <svg class="git">
                   <use href="./images/symbol-defs.svg#icon-github" width="50px"></use>
                 </svg>
               </a>
               <a href="https://www.linkedin.com/in/anastasiia-zhylina-a8a282214/" target="_blank">
                 <svg class="linkedin">
                   <use href="./images/symbol-defs.svg#icon-linkedin" width="50px"></use>
                 </svg>
               </a>
           </span>
             </div>
             
         </div>
         
           <div class="card-set__card-content">
             <h2 class="team-name">Anastasiia</h2>
               <p class="team-description">Scrum Master</p>
           </div>
     
     </li>
   </li>


   <li class="team-card-list-item">

    <div class="card-set__card-thumb">
     
       <img
         src="./images//fotosTeam/photo_2021-01-09_14-16-05.jpg"
         width="240"
         
         alt="teammate photo"
         class="team-card-list-img"
     />

       <div class="card-set__hover-box">

       <span class="team-contact">
         <a href="https://github.com/liana13555" target="_blank">
           <svg class="git">
             <use href="./images/symbol-defs.svg#icon-github" width="50px"></use>
           </svg>
         </a>
         <a href="https://www.linkedin.com/in/liana-baryshova-b5527078/" target="_blank">
           <svg class="linkedin">
             <use href="./images/symbol-defs.svg#icon-linkedin" width="50px"></use>
           </svg>
         </a>
     </span>
       </div>
       
   </div>
   
     <div class="card-set__card-content">
       <h2 class="team-name">Liana</h2>
         <p class="team-description">Developer</p>
     </div>

    </li>

    <li class="team-card-list-item">

      <div class="card-set__card-thumb">
       
         <img
           src="./images/fotosTeam/photo_2021-03-13_02-05-14.jpg"
           width="240"
           alt="teammate photo"
           class="team-card-list-img"
       />
  
         <div class="card-set__hover-box">
  
         <span class="team-contact">
           <a href="https://github.com/JulieJud" target="_blank">
             <svg class="git">
               <use href="./images/symbol-defs.svg#icon-github" width="50px"></use>
             </svg>
           </a>
           <a href="https://www.linkedin.com/in/julie-judachina-a990a734/" target="_blank">
             <svg class="linkedin">
               <use href="./images/symbol-defs.svg#icon-linkedin" width="50px"></use>
             </svg>
           </a>
       </span>
         </div>
         
     </div>
     
       <div class="card-set__card-content">
         <h2 class="team-name">Julie</h2>
           <p class="team-description">Developer</p>
       </div>
  
      </li>
  
      <li class="team-card-list-item">

        <div class="card-set__card-thumb">
         
           <img
             src="./images/fotosTeam/photo_2021-01-20_11-41-38.jpg"
             width="240"
             alt="teammate photo"
             class="team-card-list-img"
         />
    
           <div class="card-set__hover-box">
    
           <span class="team-contact">
             <a href="https://github.com/Sluchevska" target="_blank">
               <svg class="git">
                 <use href="./images/symbol-defs.svg#icon-github" width="50px"></use>
               </svg>
             </a>
             <a href="https://www.linkedin.com/in/aleksandra-sluchevska-3b0939206/" target="_blank">
               <svg class="linkedin">
                 <use href="./images/symbol-defs.svg#icon-linkedin" width="50px"></use>
               </svg>
             </a>
         </span>
           </div>
           
       </div>
       
         <div class="card-set__card-content">
           <h2 class="team-name">Aleksandra</h2>
             <p class="team-description">Developer</p>
         </div>
    
        </li>

        <li class="team-card-list-item">

          <div class="card-set__card-thumb">
           
             <img
               src="./images/fotosTeam/1624971514279.jpg"
               width="240"
               alt="teammate photo"
               class="team-card-list-img"
           />
      
             <div class="card-set__hover-box">
      
             <span class="team-contact">
               <a href="https://github.com/Aleks24dan" target="_blank">
                 <svg class="git">
                   <use href="./images/symbol-defs.svg#icon-github" width="50px"></use>
                 </svg>
               </a>
               <a href="https://www.linkedin.com/in/aleksandr-danylov-63246b215/" target="_blank">
                 <svg class="linkedin">
                   <use href="./images/symbol-defs.svg#icon-linkedin" width="50px"></use>
                 </svg>
               </a>
           </span>
             </div>
             
         </div>
         
           <div class="card-set__card-content">
             <h2 class="team-name">Alex</h2>
               <p class="team-description">Developer</p>
           </div>
      
          </li>
      
        <li class="team-card-list-item">

          <div class="card-set__card-thumb">
           
             <img
               src="./images/fotosTeam/photo_2021-08-12_10-28-29.jpg"
               width="240"
               alt="teammate photo"
               class="team-card-list-img"
           />
      
             <div class="card-set__hover-box">
      
             <span class="team-contact">
               <a href="https://github.com/Wences81" target="_blank">
                 <svg class="git">
                   <use href="./images/symbol-defs.svg#icon-github" width="50px"></use>
                 </svg>
               </a>
               <a href="https://www.linkedin.com/in/vyacheslav-zhylin-47b8b369/" target="_blank">
                 <svg class="linkedin">
                   <use href="./images/symbol-defs.svg#icon-linkedin" width="50px"></use>
                 </svg>
               </a>
           </span>
             </div>
             
         </div>
         
           <div class="card-set__card-content">
             <h2 class="team-name">Vyacheslav</h2>
               <p class="team-description">Developer</p>
           </div>
      
          </li>

      
     </ul>
  </div>
</div>