.section {
  margin-top: 20px;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gallery {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: -15px;
  }
}

.gallery-item {
  max-width: 280px;
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.05);
    box-shadow: 0 8px 43px rgb(255 107 1 / 60%);
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: $tablet) {
    max-width: 294px;
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 274px;
    width: calc((100% - 6 * 15px) / 3);
  }
}

.thumb img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}
//style for card
.card-wrap {
  font-family: $primary-font-family;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
}
.card-title {
  color: $title-text-color;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.card-text {
  color: $accent-color;
}

.card-data {
  display: flex;
  flex-wrap: wrap;
}

.card-genre {
  display: inline-flex;
  flex-wrap: wrap;
  margin-right: 5px;
}

.card-year {
  margin-right: 5px;
}

.film-vote {
  margin-left: 10px;
  color: white;
  background-color: #ff6b01;
  padding: 1px 6px;
  border-radius: 5px;
}
