.section {
  margin-top: 20px;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    margin-top: 60px; 
    margin-bottom: 60px;
  }  
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gallery {  
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: calc(-1 * #{$feature-gap});
    margin-left: calc(-1 * #{$feature-gap}); 
  }
}

.gallery-item {
    max-width: 280px;

    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    @media screen and (min-width: $tablet) {
      max-width: 294px;
      display: flex;
      flex-basis: calc(100% / 2 - #{$feature-gap});
      margin-left: #{$feature-gap};
      margin-top: #{$feature-gap};
    }

    @media screen and (min-width: $desktop) {
      max-width: 274px;
      flex-basis: calc(100% / 3 - #{$feature-gap});
    }
}

.thumb img {
  width: 100%;
  border-radius: 5px;
}